@page "/login"
@using Blazor_WebAssembly.DTOs
@using Blazor_WebAssembly.Interfaces
@using Newtonsoft.Json
@using System.Text
@inject HttpClient Http
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUsuarioService iUsuarioService



<h1>Login</h1>

<EditForm Model="@UsuarioLoginDTO" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <div class="live-preview">
        <div class="row g-3">

            <p class="text-muted">Usuário</p>

            <div class="col-lg-6">
                <div class="form-floating">
                    <InputText @bind-Value="UsuarioLoginDTO.login" class="form-control" />
                    <label>Usuário</label>
                    <ValidationMessage For="@(() => UsuarioLoginDTO.login)" />
                </div>
            </div>

            <p class="text-muted">Senha</p>

            <div class="col-lg-4">
                <div class="form-floating">
                    <InputText type="password" @bind-Value="UsuarioLoginDTO.senha" class="form-control" />
                    <label>Senha</label>
                    <ValidationMessage For="@(() => UsuarioLoginDTO.senha)" />
                </div>
            </div>

            <div class="col-lg-12">
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Logar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {


    private UsuarioLoginDTO UsuarioLoginDTO = new UsuarioLoginDTO();

    protected override void OnInitialized()
    {
        UsuarioLoginDTO.login = "string";
        UsuarioLoginDTO.senha = "string";
    }

    private async Task HandleSubmit()
    {
        try
        {
            bool sucesso = await iUsuarioService.LoginAsync(UsuarioLoginDTO);

            if (sucesso)
            {

                Console.WriteLine("Login realizado com sucesso!");

                Navigation.NavigateTo($"tarefas");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro: {ex.Message}");
        }
    }

}
